<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/h5/lib/resize.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="/h5/lib/myreset.min.css">
    <link rel="stylesheet" href="/h5/build/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_65vu0p0wohdaq0k9.css">
    <title>Title</title>
</head>
<body>
<div id="root"></div>
<script src="/h5/lib/zepto.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/h5/build/common.js"></script>
<script src="/h5/build/index.h5.bundle.js"></script>
</body>
</html>