@import "../../../../sassmixins/mixins";

.cms_base_component {
  .component_block {
    padding: 0 10px;
    height: 50px;
    background-color: #ff8161;

    &.index {
      opacity: 0.5;
    }

    .ant-col-12 {
      line-height: 50px;
      color: #ffffff;
    }

    button {
      margin-right: 8px;
    }
  }

  .insert_component, .sort_component {
    background-color: #ffffff;
    padding: 10px;
  }
}