$color_1: #e60012;
$color_2: #000000;
$color_3: #959595;
$color_4: #c9c9c9;
$color_5: #eeeeee;
$color_6: #f3f4f5;
$color_7: #ffffff;
$color_8: #7ecef4;

$font1: 34px;
$font2: 32px;
$font3: 30px;
$font4: 28px;
$font5: 26px;
$font6: 24px;
$font7: 22px;
$font8: 20px;

$space1: 30px;

$top_1: 10;
$top_2: 20;
$top_3: 30;
$top_4: 40;
$top_5: 50;
$top_6: 60;
$top_7: 70;
$top_8: 80;
$top_9: 90;
$top_10: 100;
$top_11: 110;
$top_12: 120;
$top_13: 130;
$top_14: 140;

$top_sky: 999; //普通顶部
$top_est: 99999; //绝对顶部